<div class="container-fluid">
  <div class="row up">
    <div class="col-md-12">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    
    <li class="breadcrumb-item active" aria-current="page">
    	<%= link_to 'Department', department_index_path%>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
</div></div>
  </div>
<div class="row up">
  <div class="col-md-12">
    <div class="container-fluid">
      <div class="alert alert-secondary" role="alert">
  Edit Department 
</div>
<div>
	<%= form_for(@department, url: department_path, remote: true) do |s|%>
<%#form_with(model: @department, url: department_index_path,local: true) do |s| %>
  <%#form_with scope: :subject, local: true do |s| %>
    <% if @department.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@department.errors.count, "error") %> prohibited
            this department from being saved:
          </h2>
          <ul>
            <% @department.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-row">
    <div class="form-group mx-sm-3">
    <%= s.label :name %>
    <%= s.text_field :departmentName%><br>
    </div></div>

    <div class="form-row">
    <div class="form-group mx-sm-3">
    <%= s.label :Remark%>
    <%= s.text_field :remark%><br>
    </div></div>

    <div>
    <%= s.hidden_field :login_master_id, :value => session[:emp_id] %><br>
    </div>
    <div>
    <%= s.submit%>
    </div>
  <%end%>
	<%= link_to 'Back', department_index_path %>
</div>