<div class="container">
	
		<div class="borders">
  		<div class="stepwizard col-md-offset-3 headWizard">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
        <p>Employee Deatil</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
        <p>Empyee Adress</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
        <p>Employee family detail</p>
      </div>
       <div class="stepwizard-step">
        <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
        <p>Employee eduction detail</p>
      </div>
       <div class="stepwizard-step">
        <a href="#step-5" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
        <p>Employee expeince detail</p>
      </div>
    </div>
  </div>
  
  <%= form_with(model: @emp_master, url: emp_master_index_path, local: true) do |s| %>
<div class="row setup-content" id="step-1">
    
    <div class="col-md-12">
      <span style="text-align: center;">  <h3> (Employee Detail)</h3></span>
       <div class="col-md-4 left">
          <div class="form-group">
          	<%= s.label :Employee_Name ,:class => "control-label"%>
			<%= s.text_field :empName , :placeholder =>"Enter Employee Name",:class => "form-control"%>
          </div>
       </div>
       <div class="col-md-4 left">
          <div class="form-group">
            <%= s.label :Gender ,:class => "control-label"%>
            <%= s.radio_button :gender, '0', :checked => true %> Male
            <%= s.radio_button :gender, '1', :checked => true %> female
          </div>
      </div>
        <div class="col-md-4 left">
          <div class="form-group">
          	<%= s.label :Employee_Contact_Number ,:class => "control-label"%>
			<%= s.text_field :contactNumber , :placeholder =>"Enter Employee Contact Number",:class => "form-control"%>
          </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4 left">
          <div class="form-group">
          	<%= s.label :Employee_Date_of_Birth ,:class => "control-label"%>
          	<%= s.date_field :dob, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-4 left">
          <div class="form-group">
          	<%= s.label :Employee_Email_Address ,:class => "control-label"%>
          	<%= s.text_field :email , :placeholder =>"Enter Employee email Address",:class => "form-control"%>
          </div>
        </div>
        <div class="col-md-4 left">
          <div class="form-group">
          	<%= s.label :Employee_Medical_issue,:class => "control-label"%>
          	<%= s.text_area :email , :placeholder =>"Enter Employee any kind of madical issue",:class => "form-control"%>
          </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4 left">
          <div class="form-group">
          	<%= s.label :Employee_joining_Date ,:class => "control-label"%>
          	<%= s.date_field :joiningDate, class: 'form-control' %>
          </div>
        </div>
	    <div class="col-md-4 left">
           <div class="form-group">
           		<%= s.label :Employee_ID_proof ,:class => "control-label"%>
           		<%= s.file_field :file ,:class => "form-control" %>
            </div>
        </div>
    </div>
        <div class="col-md-12">
        	<%= button_tag "Next", :type => 'button', :class => "btn btn-primary nextBtn btn-lg pull-right" %>
        </div>
</div>
    <div class="row setup-content" id="step-2">
      
        <div class="col-md-12">
           <span style="text-align: center;">  <h3> (Employee address)</h3></span></br>
       </div>
    <div class="col-md-12">
       	
        <div class="col-md-4 left">
          <div class="form-group">
          	<%= s.label :Currunt_Addrees, :class => "control-label"%>
          	<%= s.text_area :currentAddress , :placeholder =>"Adrees",:class => "form-control"%>
          </div>
        </div>
        <div class="col-md-2 left">
          <div class="form-group">
          	<%= s.label :Landmark, :class => "control-label"%>
          	<%= s.text_field :landmark , :placeholder =>"Landmark",:class => "form-control"%>
          </div>
        </div>
		<div class="col-md-2 left">
          <div class="form-group">
          	<%= s.label :City, :class => "control-label"%>
          	<%= s.text_field :city , :placeholder =>"City",:class => "form-control"%>
          </div>
        </div>
        <div class="col-md-2 left">
          <div class="form-group">
          	<%= s.label :District, :class => "control-label"%>
          	<%= s.text_field :district , :placeholder =>"District",:class => "form-control"%>
          </div>
        </div>
        <div class="col-md-2 left">
          <div class="form-group">
          	<%= s.label :State, :class => "control-label"%>
          	<%= s.text_field :state , :placeholder =>"State",:class => "form-control"%>
          </div>
        </div>
    </div>
    <div class="col-md-12">
       	
        <div class="col-md-4 left">
          <div class="form-group">
          	<%= s.label :Permenent_Addrees, :class => "control-label"%>
          	<%= s.text_area :perAddress , :placeholder =>"Permenent Addrees",:class => "form-control"%>
          </div>
        </div>
        <div class="col-md-2 left">
          <div class="form-group">
          	<%= s.label :Landmark, :class => "control-label"%>
          	<%= s.text_field :pLandmark , :placeholder =>"Landmark",:class => "form-control"%>
          </div>
        </div>
		<div class="col-md-2 left">
          <div class="form-group">
          	<%= s.label :City, :class => "control-label"%>
          	<%= s.text_field :pcity , :placeholder =>"City",:class => "form-control"%>
          </div>
        </div>
        <div class="col-md-2 left">
          <div class="form-group">
          	<%= s.label :District, :class => "control-label"%>
          	<%= s.text_field :pdistrict , :placeholder =>"District",:class => "form-control"%>
          </div>
        </div>
        <div class="col-md-2 left">
          <div class="form-group">
          	<%= s.label :State, :class => "control-label"%>
          	<%= s.text_field :pState , :placeholder =>"State",:class => "form-control"%>
          </div>
        </div>
    </div>
        <div class="col-md-12">
        	<%= button_tag "Next", :type => 'button', :class => "btn btn-primary nextBtn btn-lg pull-right" %>
        </div>
   
    </div>
    <div class="row setup-content" id="step-3">
      
      <div class="col-md-12">
      	<span style="text-align: center;">  <h3> (Employee family member)</h3></span></br>
      </div>
      <div class="col-md-12">
      	 <form>
      	 	<div class="col-md-3 left">
          <div class="form-group">
            <label class="control-label"><b>Name of family member</b></label>
        <input type="text" id="name" placeholder="Name" class="form-control"></div></div>
        <div class="col-md-3 left">
          <div class="form-group">
            <label class="control-label"><b>Relation</b></label>
        <input type="text" id="relation" placeholder="Relation" class="form-control"></div></div>
        <div class="col-md-3 left">
          <div class="form-group">
            <label class="control-label"><b>DOB</b></label>
        <input type="Date" id="dob"class="form-control" ></div></div>
        <div class="col-md-3 left">
          <div class="form-group">
    	<input type="button" class="add-family" value="Add Row" style="margin-top: 35px">
    </div></div>
    <%end%>
    <table width="80%" border="1px solid" style="margin-left: 20px">
        <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Relation</th>
                <th>DOB</th>
            </tr>
        </thead>
        <tbody class="family">
        </tbody>
    </table>
    <button type="button" class="delete-family" style="margin-left: 20px">Delete Row</button>
      </div>
       <div class="col-md-12">
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
        </div></div>
         <div class="row setup-content" id="step-4">
         	  <div class="col-md-12">
      	<span style="text-align: center;">  <h3> (Employee Eduction details)</h3></span></br>
      </div>
      <div class="col-md-12">
      	 <form>
      	 	<div class="col-md-3 left">
          <div class="form-group">
            <label class="control-label"><b>Course and degree name </b></label>
        <input type="text" id="cource" placeholder="course and degree name" class="form-control"></div></div>
        <div class="col-md-3 left">
          <div class="form-group">
            <label class="control-label"><b>year</b></label>
        <input type="text" id="year" class="form-control" placeholder="year only"></div></div>
        <div class="col-md-3 left">
          <div class="form-group">
            <label class="control-label"><b>percentage </b></label>
        <input type="text" id="percentage"class="form-control" placeholder="enter percentage and cgpa " ></div></div>
        <div class="col-md-3 left">
          <div class="form-group">
          	<label class="control-label"><b>Univecity and Bord name  </b></label>
          	 <input type="text" id="univercityBorad"class="form-control" placeholder="enter univercity and Bord  " >
          </div></div>
        <div class="col-md-3 left">
          <div class="form-group">
    	<input type="button" class="add-eduction" value="Add row" style="margin-top: 35px">
    </div></div>
    </form>
    <table width="80%" border="1px solid" style="margin-left: 20px">
        <thead>
            <tr>
                <th>Select</th>
                <th>Course and degree name</th>
                <th>year</th>
                <th>percentage</th>
                <th>Univecity and Bord name</th>
            </tr>
        </thead>
        <tbody class="eduction">
        </tbody>
    </table>
    <button type="button" class="delete-eduction" style="margin-left: 20px">Delete Row</button>
      </div>
       <div class="col-md-12">
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
        </div>
         <div class="row setup-content" id="step-5">
      <div class="col-md-12">
          <button class="btn btn-success btn-lg pull-right" type="submit">Submit</button>
        </div></div>
      
    </div>
  </form>
  
</div>

</div>