<div class="container-fluid">
  <div class="row up">
    <div class="col-md-12">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    
    <li class="breadcrumb-item active" aria-current="page">Employee Work</li>
  </ol>
</nav>
</div></div>
  </div>
<div class="row up">
  <div class="col-md-12">
    <div class="container-fluid">
      <div class="alert alert-secondary" role="alert">
  Employee Work List 
</div>
<div class="table-responsive-sm">
<table class="table table-bordered table-hover chandni">
	<tr>
	  <%= link_to 'Add Employee Work', new_emp_work_profile_path,:class => "btn" %>
    </tr>
	<caption>List of Work Detail</caption>
	<header>
		<th>#</th>
		<th>project Name</th>
		<th>Start Date</th>
		<th>Target Date</th>
		<th>End Date</th>
		<th>Remark</th>
		<th>Employee Name</th>
		<th>Head Name</th>
		<th>Action</th>
	</header>
	<% @i = 1 %>
	<% @work.each do |s|%>
	<tr>
		<td><%= @i%></td>
		<td><%= s.project_name%></td>
		<td><%= s.start_date%></td>
		<td><%= s.target_date%></td>
		<td><%= s.end_date%></td>
		<td><%= s.remark%></td>
		<td><%= curent_emp(s).empName%></td>
		<td><%= s.head%></td>
		<td>
			<%# link_to("Show","action show")%>
			<%= link_to("Show",designation_path(s)) %>
			<%= link_to("Edit",edit_designation_path(s))%>
			<%#link_to("Delete","subjects/delete",)%>
			<%= link_to("Delete",designation_path(s),
              method: :delete,
              data: { confirm: 'Are you sure?' })%>
		</td>
	</tr>
	<% @i += 1%>
	<% end%>
</table>
</div>

