<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @user_datum.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @user_datum.lname %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user_datum.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_datum.email %>
</p>

<%= link_to 'Edit', edit_user_datum_path(@user_datum) %> |
<%= link_to 'Back', user_data_path %>
